@font-face {
  font-family: BasisGrotesque;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/BasisGrotesque-regular.eot?#iefix") format("embedded-opentype"),url(/fonts/BasisGrotesque-regular.woff) format("woff"),url(/fonts/BasisGrotesque-regular.ttf) format("truetype");
}
@font-face {
  font-family: BasisGrotesque;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/BasisGrotesque-medium.eot?#iefix") format("embedded-opentype"),url(/fonts/BasisGrotesque-medium.woff) format("woff"),url(/fonts/BasisGrotesque-medium.ttf) format("truetype");
}
@font-face {
  font-family: BasisGrotesque;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/BasisGrotesque-bold.eot?#iefix") format("embedded-opentype"),url(/fonts/BasisGrotesque-bold.woff) format("woff"),url(/fonts/BasisGrotesque-bold.ttf) format("truetype");
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: BasisGrotesque, Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #171719;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.list {
  padding: 20px 0;
  min-height: 100vh;
  animation: fade-in .75s ease-out forwards;
}

.list h1 {
  margin-bottom: 1.75em;
}

.list .btn {
  position: absolute;
  top: -3px;
  right: 20px;
}

.nav {
  position: relative;
  z-index: 400;
}

.btn {
  border-radius: 16px;
  text-transform: uppercase;
  background-color: #0042ff;
  color: #fff;
  padding: .75em 1.25em;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid #0042ff;
  transition: background-color .15s ease-in-out, color .15s ease-in-out; 
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #0042ff;
}

.btn:focus {
  outline: none;
}

.aspect-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-alternate {
  0%, 20% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(.5em);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up-large {
  from {
    opacity: 0;
    transform: translateY(2.5em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .list {
    padding: 50px 0;
  }

  .list h1 {
    margin-bottom: 2em;
  }
}