.kiosk {
  padding: 1em 30px;
  justify-content: center;
  animation: fade-in .75s ease-out forwards;
  background-color: #171719;
}

.kiosk__exit-btn {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 14px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  cursor: pointer;
  opacity: .4;
  transition: opacity .15s ease-out;
}

.kiosk__exit-btn:hover {
  opacity: 1;
  transition: none;
}

.kiosk h6 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, .8);
  opacity: 0;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.2px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  animation: slide-up-large .4s ease-out forwards;
}

.kiosk__bg {
  position: fixed;
  z-index: -1;
  opacity: .6;
  overflow: hidden;
}

.kiosk__bg-gradient {
  position: fixed;
  transition: background-image 2s ease-out;
}

.kiosk__bg-cover {
  position: fixed;
  opacity: .4;
  filter: blur(14px);
  transform: scale(1.08);
  background-size: cover;
  background-position: center;
  animation: bg-image-fade-in 2s ease-out forwards;
}

.kiosk__body {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.kiosk__cover {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 440px;
  margin: 0 auto 3em auto;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .4);
  opacity: 0;
  animation: slide-up-large .4s .1s ease-out forwards;
}

.kiosk__cover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: fade-in .2s ease-out forwards;
}

.kiosk__cover-spacer {
  width: 100%;
  padding: 50% 0;
}

.kiosk__cover img {
  width: 100%;
  height: 100%;
}

.kiosk__playing-badge {
  position: absolute;
  opacity: 1;
  bottom: .75em;
  right: -.75em;
  background-color: rgba(23, 23, 25, 0.98);
  color: #cacaca;
  padding: .65em 1.15em .62em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  animation: slide-up .4s ease-out forwards;
  transition: color .15s ease-out;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.kiosk__playing-badge.playing-now {
  color: #fff;
}

.kiosk__playing-badge i {
  display: inline-block;
  margin-left: -7px;
}

.kiosk__controls {
  position: absolute;
  left: -25px;
  right: -25px;
  color: #fff;
  font-size: 40px;
  opacity: 0;
  transition: opacity .15s ease-out;
  animation: fade-in .8s .4s ease-out forwards;
}

.kiosk__control {
  position: absolute;
  opacity: .6;
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.kiosk__control:hover {
  opacity: 1; 
  transition: none;
}

.kiosk__control.previous {
  left: 0;
}

.kiosk__control.next {
  right: 0;
}

.kiosk__meta {
  max-width: 83%;
  opacity: 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  animation: slide-up-large .4s .2s ease-out forwards;
}

.kiosk__title {
  margin: 0 auto .5em auto;
}

.kiosk__artist {
  opacity: .8;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  .kiosk h6 {
    margin-top: 1.75em;
  }
}

@media (min-width: 768px) {
  .kiosk {
    padding: 2.5em 30px;
  }

  .kiosk__cover {
    width: 440px;
    height: 440px;
  }

  .kiosk__controls { 
    top: 270px;
    left: 0;
    right: 0;
  }

  .ui-hidden .kiosk__exit-btn,
  .ui-hidden .kiosk__controls {
    opacity: 0 !important;
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .kiosk {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@keyframes bg-image-fade-in {
  from {
    opacity: 0;
    transform: scale(1.14);
  }
}
