.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  animation: fade-in .5s ease-out forwards;
}

.loading__spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto 30px auto;
  background-color: rgb(0, 66, 255);
  border-radius: 100%;
  animation: sk-scaleout 1.25s infinite ease-in-out;
}

.loading__text {
  animation: fade-alternate 1.5s infinite ease-in-out alternate;
}

/* Spinner from http://tobiasahlin.com/spinkit/ */
@keyframes sk-scaleout {
  0% { 
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}