.list-wrapper {
  width: 100%;
}

.played {
  width: 100%;
}

.played th {
  text-align: left;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .7px;
  color: #9c9b9b;
  font-weight: 500;
}

.played th,
.played td {
  padding-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #e8e8e8;
}

.has-playing .played tbody tr:first-child td a,
.has-playing .played tbody tr:first-child td {
  font-weight: 600 !important;
}

th.played__title:after {
  content: 'Track';
}

.played__spacer {
  height: 8px;
}

.played__cover {
  width: 32px;
  height: 32px;
}

div.played__cover {
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .07);
}

.played__cover img {
  opacity: 0;
  max-width: 100%;
  transition: opacity .3s ease-out;
  border-radius: 2px;
}

.played__cover img.loaded {
  opacity: 1;
}

.played__title {
  padding-left: 14px;
  padding-right: .5em;
}

.played__artists {
  padding-right: .5em;
}

.played__artists-mobile {
  color: #999;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .played th:nth-child(3),
  .played td:nth-child(3) {
    display: none;
  }

  .played td {
    max-width: 55vw;
  }

  .played__title > a {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .played__time {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .played {
    table-layout: fixed;
  }

  .played__artists-mobile {
    display: none;
  }

  .played__cover {
    width: 50px;
    height: 50px;
  }

  .played__title {
    width: 45%;
    padding-left: 20px;
    padding-right: 1em;
  }
  
  .played__artists {
    width: 35%;
    padding-right: 1em;
  }

  th.played__title:after {
    content: 'Title';
  }

  .played__time {
    width: 16%;
    max-width: 130px;
  }
}